.vscode
.pylintrc
.idea
__pycache__
lofar_facet_selfcal.egg-info

#astro data
*.ms
*.fits

#test data
.github/data/*.tmp

# Exception: Allow .github/data/test.ms for testing
!.github/data/test.ms
!.github/data/test2.ms