name: Test facetselfcal

on:
  push:  # Run on any branch push
  pull_request:  # Run on any PR

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Disable Microsoft Repo
        run: |
          sudo sed -i 's/^deb/#deb/' /etc/apt/sources.list.d/microsoft-prod.list
          sudo apt-get update

      - name: Install Singularity
        run: |
          sudo apt-get install -y singularity-container

      - name: Download flocs Singularity
        run: |
          singularity pull flocs.sif \
          https://lofar-webdav.grid.sara.nl/software/shub_mirror/tikk3r/lofar-grid-hpccloud/intel/flocs_v5.0.0_generic_x86-64.sif

      - name: Run --help on main.py
        run: |
          singularity exec --bind $(pwd):/repo flocs.sif \
          python /repo/facetselfcal/main.py --help

      - name: Run --help on h5_merger
        run: |
          singularity exec --bind $(pwd):/repo flocs.sif \
          python /repo/submods/h5_merger.py --help

      - name: Run --help on ds9facetgenerator
        run: |
          singularity exec --bind $(pwd):/repo flocs.sif \
          python /repo/submods/ds9facetgenerator.py --help

      - name: Run --auto test on main.py
        run: |
          singularity exec --bind $(pwd):/repo flocs.sif \
          python /repo/facetselfcal.py --auto --testing /repo/.github/data/test.ms

      - name: Run configtest on main.py
        run: |
          singularity exec --bind $(pwd):/repo flocs.sif \
          python /repo/facetselfcal.py --configpath /repo/.github/data/config_dd.txt /repo/.github/data/test.ms
